section {
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 8px;
  margin: 20px 0;
}

.judul {
  margin-top: 10px;
}
.nav-kanan a {
  text-decoration: none;
  /* background-color: green; */
}
