.carousel {
  position: relative;
  /* width: 80%; */
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  margin: 20px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 30px 100px;
  text-align: center;
  width: 80%;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel button:hover {
  background: rgba(0, 0, 0, 0.8);
}
